{
 "username" : "contrast_admin",
 "apiKey" : "demo",
 "serviceKey" : "demo",
 "teamserverUrl" : "http://127.0.0.1:8080/Contrast/api",
 "orgUuid" : "de7dd2a9-7643-46fb-b9d8-9c38aeffed7e",
 "serverId" : "2",
 "appId" : "982a4e03-694e-4b00-8d33-955ad6950168",
 "traceId" : "R6A5-0Z83-BCQM-QDSA",
 "javaLibraryHash" : "94a9ce681a42d0352b3ad22659f67835e560d107",
 "groupId" : "1234"
}
